@import '../../vars';

.form {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  min-height: 100vh;
}

.btnsBlock {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.label {
  width: 180px;
  height: 50px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  display: block;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  transition: all 0.7s ease-in-out;
  border: 1px solid $secondColor;
  color: $secondColor;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $secondColor;
    color: #fff;
  }
}

.input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 450px;
}



// .delBtn {
//   width: 21px;
//   height: 21px;
// }

// .icon {
//   color: $mainColor;
//   cursor: pointer;
//   transition: 0.3s color ease-in-out;

//   &:hover {
//     color: red;
//   }
// }

